@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;700&display=swap');


body {
  position: relative; /* Ensure positioning context */
  background-image: url('/src/assets/images/bg-image-24.jpg');
  /* background-color: rgba(255, 255, 255, 0.5); */
  background-size: cover;
  /* background-position: center top; */
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  padding-bottom: 45px;
}

.navbar-link {
  transition: transform 0.3s ease-in-out; /* Add transition for smooth size change */
}

.hovered .navbar-link:hover {
  transform: scale(1.3); /* Make the Navbar items 10% bigger on hover */
}

.card.bg-white-transparent {
  background-color: rgba(255, 255, 255, 0);
}

.card.bg-white-trans {
  background-color: rgba(255, 255, 255, 0.90);
}

.outline {
  text-shadow: -1px -1px 0 #000,  
                1px -1px 0 #000,
               -1px  1px 0 #000,
                1px  1px 0 #000;
}

.home-text {
  font-family: 'Dosis', sans-serif;
}